* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--color-letras);
}

:root {
  font-size: 20px;

  /* * Variables */
  --color-fondo: white;
  --color-letras: #065084;
  --color-botones: #00caff;
  --color-cart: #00d700;
  --color-like: #f00;
}

body {
  width: 100vw;
  padding: 2rem 4rem;
  background-color: var(--color-fondo);
  display: grid;
  grid-template-rows: 20vh 1fr 20vh;
  grid-template-areas:
    "header"
    "main"
    "foot";
  /* gap: 2rem; */
  overflow-x: hidden;
}

/* TODO: Header */
header {
  grid-area: header;
  display: grid;
  grid-template-rows: 30% 1fr;
}

/* TODO: containerLogo  */
.containerLogo {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* ?: logo */
.containerLogo .logo {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

/* * Icono del logo */
.containerLogo .logo .icon {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--color-letras);
  color: var(--color-fondo);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

/* * Titulo */
.containerLogo .logo .title {
  font-size: 1.5rem;
  margin: 0;
}

/* ?: Lista de iconos */
.containerLogo .list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.containerLogo .list .item {
  font-size: 1.5rem;
  position: relative;
}

.containerLogo .list,
.item i {
  transition: all 0.5s linear;

  &:hover {
    transition: all 0.5s linear;
    color: var(--color-botones);
    cursor: pointer;
  }
}

.containerLogo .list .item #countCart {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  background-color: var(--color-cart);
  color: white;
  border-radius: 1rem;
  position: absolute;
  top: -0.5rem;
  right: -1rem;
}

/* TODO: search */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ? Contenedor de la busqueda */
.search .contBusqueda {
  width: 50%;
  height: 4rem;
  border: solid 0.1rem var(--color-letras);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 5% 1fr 10%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;

  position: relative;
}

/* * input de busqueda */
.search .contBusqueda input {
  height: 100%;
  border: none;
  background-color: var(--color-fondo);
  outline: none;

  &::placeholder {
    color: var(--color-letras);
  }
}

/* * Button de busqueda */
.search .contBusqueda button {
  height: 100%;
  width: 4rem;
  border-radius: 2rem;
  position: absolute;
  right: 0;
  border: none;
  background-color: var(--color-letras);
  transition: all 0.5s linear;

  &:hover {
    cursor: pointer;
    transition: all 0.5s linear;
    background-color: var(--color-botones);
  }
}

/* * Icono de boton  */
.search .contBusqueda button .icon {
  color: var(--color-fondo);
}
/* TODO: Main */
main {
  grid-area: main;
  display: grid;
  grid-template-rows: 10vh 1fr;
  gap: 1rem;
}

/* ?: Lista de Categorias */
main .list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

main .list .item {
  padding: 0.5rem;
  transition: all 0.5s linear;

  &:hover {
    transition: all 0.5s linear;
    cursor: pointer;
    background-color: var(--color-letras);
    color: white;
    border-radius: 2rem;
  }
}

/* * Seleciona la categoria */
.select {
  background-color: var(--color-letras);
  color: white;
  border-radius: 2rem;
}

.selectLike {
  color: var(--color-like);
}

/* ?: Lista de Cards */
main .containerCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

/* * Card */
main .containerCards .card {
  overflow: hidden;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 50% 15% 10% 20%;
  grid-template-columns: 100%;
  grid-template-areas:
    "img"
    "title"
    "price"
    "infvalor";
  /* gap: 1rem;s */
  box-shadow: 0px 5px 10px 1px grey;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

/* * Tamaño de la imagen */
main .containerCards .card .contImg {
  grid-area: img;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--color-letras);
  transition: all 1s linear;

  &:hover {
    transition: all 1s linear;
    background-color: var(--color-botones);
  }
}

/* Imagen dde la card */
main .containerCards .card .contImg img {
  height: 100%;
  object-fit: contain;
}

main .containerCards .card .title {
  grid-area: title;
  margin: 0;
  font-size: 0.8rem;
  padding: 1rem 0.5rem 0rem;
}

main .containerCards .card .price {
  grid-area: price;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}

main .containerCards .card .infValor {
  grid-area: infvalor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

main .containerCards .card .infValor .icon-heart {
  font-size: 1.5rem;
  transition: all .3s linear;
  &:hover {
    color: var(--color-like);
    transition: all .3s linear;
  }
}

main .containerCards .card .infValor .add-car {
  border: none;
  background-color: var(--color-letras);
  color: var(--color-fondo);
  height: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: aparece 1s linear 1; */

  &:hover {
    cursor: pointer;
  }
}

@keyframes aparece {
  to {
    transform: translateX(0);
  }
  from {
    transform: translateX(10rem);
  }
}

@keyframes desaparecer {
  to {
    transform: translateX(10rem);
  }
  from {
    transform: translateX(0);
  }
}
/* main .containerCards .card .price {
  grid-area: price;
  margin: 0;
  text-align: center;
} */
/* TODO: Footer */
footer {
  grid-area: foot;
}

/* TODO: FACTURA */
.factura{
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 30%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  box-shadow: 0px 0px 1px gray;
  border-radius: 1rem;
  opacity: 100%;
  overflow: hidden;
}



/* * Responsive */

@media screen and (width <= 38rem) {
  body {
    padding: 1rem;
    grid-template-rows: 50vh 1fr 20vh;
    grid-template-columns: 100%;
  }

  /* TODO: Header */
  header {
    grid-template-rows: 50% 1fr;
  }

  /* TODO: containerLogo  */
  .containerLogo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    /* justify-content: space-between; */
    /* align-items: center; */
  }

  /* ?: logo */
  .containerLogo .logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  /* * Icono del logo */
  .containerLogo .logo .icon {
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 2rem;
    padding: 2rem;
  }

  /* * Titulo */
  .containerLogo .logo .title {
    font-size: 2rem;
  }

  /* ?: Lista de iconos */
  .containerLogo .list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .containerLogo .list .item {
    font-size: 1.5rem;
  }

  .containerLogo .list,
  .item i {
    transition: all 0.5s linear;

    &:hover {
      transition: all 0.5s linear;
      color: var(--color-botones);
      cursor: pointer;
    }
  }

  /* TODO: search */
  .search {
    width: 100%;
    /* display: block; */
  }

  /* ? Contenedor de la busqueda */
  .search .contBusqueda {
    width: 100%;
    height: 4rem;
  }

  /* * Button de busqueda */
  .search .contBusqueda button {
    width: 20%;
  }

  /* TODO: Main */
  main {
    grid-area: main;
    display: grid;
    grid-template-rows: 15vh 1fr;
    gap: 1rem;
  }

  /* ?: Lista de Categorias */
  main .list {
    width: 100%;
    flex-wrap: wrap;
  }
}

@media screen and (width > 38rem) and (width <= 48rem) {
  body {
    padding: 2rem;
    grid-template-rows: 30vh 1fr 20vh;
    grid-template-columns: 100%;
  }

  /* TODO: Header */
  header {
    grid-template-rows: 50% 1fr;
  }

  /* TODO: containerLogo  */
  .containerLogo {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    /* align-items: center;*/
  }

  /* * Icono del logo */
  .containerLogo .logo .icon {
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 2rem;
    padding: 2rem;
  }

  /* TODO: search */
  .search {
    width: 100%;
    justify-content: center;
    /* display: block; */
  }

  /* ? Contenedor de la busqueda */
  .search .contBusqueda {
    width: 50%;
    height: 4rem;
  }

  /* TODO: Main */
  main {
    grid-area: main;
    display: grid;
    grid-template-rows: 15vh 1fr;
    gap: 1rem;
  }

  /* ?: Lista de Categorias */
  main .list {
    width: 100%;
    flex-wrap: wrap;
  }
}
